*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 50px;
    display: flex;
    padding: 20px;
    box-shadow: 0px 2.9px 7.45px rgba(0, 0, 0, 0.1);
}
.airbnb-logo{
    height: 20px;
    max-width: 100px;
    width: 70px;
}
hero{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.main-image{

    align-items: center;
    justify-content: center;
    display: flex;
}
.img-main{
   max-width: 350px;
   align-self: center;
}
.main-content{
    margin: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.title-1{
    font-size: 30px;
    margin-bottom: 10px;

}
.caps-1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
.card{
    display: flex;
    /* background-color: red; */
    flex-direction:column;
    flex: 0 0 auto;
    position: relative;

    width: 150px;
    font-size: 12px;

}
.card--image{
    width: 100%;
    border-radius: 9px;
    height: 200px;
    margin-bottom: 5px;
}
.card-stats{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.card-rating{
    margin-right: 5px;
    height: 14px;
    width: 14px;
}
.grey{
    color: rgba(107, 107, 107, 0.842);
}
.bold{
    font-weight: bold;
}
.cards-list{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
.title{
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.badge{
    position: absolute;
    top: 6px;
    left: 5px;
    background-color: antiquewhite;
    padding: 3px 3px;
    border-radius: 2px;
    font-weight: bold;
}